.items-page {
    overflow: hidden;
}

.items-page table {
    margin: 1rem 0;
}

.items-page table thead tr th {
    width: 4rem;
}

.items-page table tbody tr {
    text-align: center;
}

.items-page table tbody tr td {
    padding: 0.2rem 0.5rem;
    width: 4rem;
}

.items-page table tbody tr td.title {
    width: 5rem;
}

.items-page table tbody tr .actions {
    justify-content: space-between;
}

.items-page table tbody tr .actions>* {
    cursor: pointer;
}

.items-page {
    flex-direction: column;
}

.items-page .search-box {
    margin: 1rem 0;
}

.items-page .items-table .container {
    height: 33rem;
    overflow: auto;
    padding: 0.4rem 0.7rem 1.4rem 0;
}